#quem-somos{
    margin: 0;
    padding: 5em 0;
    .main_about_header{
        margin: 0 0 3em 0;
        padding: 0;
        h1{
            margin: 0;
            padding: 0;
            font:{
                style: normal;
                size: 2.5em;
                weight: $font-bold;
            }
        }
        hr{
            margin: 1.125em 0 0 0;
            padding: 0;
            width: 4.5em;
            border: 2px solid $color1;
        }
    }
    .main_about_content{
        margin: 0;
        padding: 0;
        p{
            margin: 0;
            padding: 0;
            font:{
                style: normal;
                size: 1.125em;
                weight: $font-light;
            }
            text:{
                align: justify;
            }
        }
    }
    .main_about_logo{
        margin: 2em 0 0 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
    }
}